<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Adult 1
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-1 mt-4">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Title
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Mr</a></li>
                                <li><a class="dropdown-item" href="#">Mrs</a></li>
                                <li><a class="dropdown-item" href="#">Miss</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5">
                        First-Name
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-5">
                        Last-Name
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        Date-of-Birth
                        <input type="Date" class="form-control" placeholder="Date" aria-label="Date">
                    </div>
                    <div class="col-6">
                        Nationality
                        <input type="text" class="form-control" placeholder="Nationality" aria-label="Nationality">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        Passport-issuing-Country
                        <input type="Date" class="form-control" placeholder="Date" aria-label="Date">
                    </div>
                    <div class="col-6">
                        passport number
                        <input type="number" class="form-control" placeholder="Nationality" aria-label="Nationality">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        Passport-Expiry
                        <input type="Date" class="form-control" placeholder="Date" aria-label="Date">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>